.metadata/.lock
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1d/f0579b1797e4001611d3f28333138730
.metadata/.plugins/org.eclipse.core.resources/.history/2a/b0f0a61797e4001611d3f28333138730
.metadata/.plugins/org.eclipse.core.resources/.history/3c/b00f400f97e4001611d3f28333138730
.metadata/.plugins/org.eclipse.core.resources/.history/3d/7020380f97e4001611d3f28333138730
.metadata/.plugins/org.eclipse.core.resources/.history/59/20d4851797e4001611d3f28333138730
.metadata/.plugins/org.eclipse.core.resources/.projects/DynamicArrays/.indexes/e4/7a/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/DynamicArrays/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/DynamicArrays/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/DynamicArrays/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/DynamicArrays/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1199826107.index
.metadata/.plugins/org.eclipse.jdt.core/1475717011.index
.metadata/.plugins/org.eclipse.jdt.core/1525087677.index
.metadata/.plugins/org.eclipse.jdt.core/1539866187.index
.metadata/.plugins/org.eclipse.jdt.core/1841280308.index
.metadata/.plugins/org.eclipse.jdt.core/194205294.index
.metadata/.plugins/org.eclipse.jdt.core/2221491804.index
.metadata/.plugins/org.eclipse.jdt.core/2561179376.index
.metadata/.plugins/org.eclipse.jdt.core/2911469802.index
.metadata/.plugins/org.eclipse.jdt.core/2997567257.index
.metadata/.plugins/org.eclipse.jdt.core/30881555.index
.metadata/.plugins/org.eclipse.jdt.core/3314433690.index
.metadata/.plugins/org.eclipse.jdt.core/3643810303.index
.metadata/.plugins/org.eclipse.jdt.core/3726721386.index
.metadata/.plugins/org.eclipse.jdt.core/449440424.index
.metadata/.plugins/org.eclipse.jdt.core/543038442.index
.metadata/.plugins/org.eclipse.jdt.core/67599131.index
.metadata/.plugins/org.eclipse.jdt.core/843494433.index
.metadata/.plugins/org.eclipse.jdt.core/91472061.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/1/4/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/1/4/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/DynamicArrays/2017/1/4/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/DynamicArrays/2017/1/4/refactorings.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
DynamicArrays/bin/.gitignore
